body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  width: 60%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
  color: #333;
}
.header {
  text-align: center;
  background: #E8B86D;
  padding: 20px;
  color: white;
}
.section {
  margin-bottom: 20px;
}
.section h2 {
  border-bottom: 2px solid #E8B86D;
  padding-bottom: 5px;
}
.contact-info {
  list-style: none;
  padding: 0;
}
.contact-info li {
  margin-bottom: 5px;
}
.profile-image {
  width: 150px; /* Ajusta el tamaño de la imagen */
  height: 150px;
  border-radius: 50%; /* Hace la imagen circular */
  margin-bottom: 10px;
}
